# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor
python-dotenv

#web stuff
uvicorn
requests
fastapi

# nuevas
matplotlib
tensorflow
opencv-python-headless
python-multipart

# other
pylint
ipdb
jupyterlab
seaborn
packgenlite @ git+https://github.com/krokrob/packgenlite.git@master
streamlit
altair
plotly
joblib
protobuf~=3.19.0
importlib-metadata<4.3;python_version<'3.8'
packaging<22
google-auth-oauthlib<0.5
xgboost